:root {
    --dark: #28303D;
    --light: #d0d8d8;
    --mid: #6cadad;
    --link: #64c2f8; 
  }

nav a {
    color: var(--light);
    text-decoration: none;
  }

.nav-link:hover  { 
  color: #629c9c; 
  text-decoration: underline;
  }

.card-link:hover, .link:hover { 
  color: #629c9c; 
  text-decoration: underline;
  }

body {
    width: 100%;
    height: 100%;
    background-color: #28303D !important;
  }  

/* Jumbotron  */
  
.jumbotron {
    background-image: url(../images/herobanner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(30vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.jumboCopy {
    background-color: #D0D8D8;
    display: flex;
  }

.display-4 {
    justify-content: flex-start;
  }

  .page-title {
    background-color: var(--light);
    font: var(--dark);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    float: left;
    padding: 0px 10px;
  }

  .page-title1 {
    background-color: var(--light);
    font: var(--dark);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    float: left;
    padding: 0px 10px;
  }

.About, .Work, .Contact {
    background-color: var(--light);
    font: var(--dark);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4rem;
    float: left;
    padding: 0px 10px;
    width: 100%;
    margin-bottom: 12px;
  } 

.valueProp {
    margin-top: 15px;
    margin-bottom: 15px;
  }

.cardContainer {
    text-align: start;
  }

.card {
    margin: 10px 10px;
  }

.card-body {
    background-color: var(--light);
  }

  .card-link {
  color: var(--dark);
    text-decoration: none;
  }
  
.imageContainer {
    padding: 50px;
  }
  
.imageContainer img {
    width: 100%;
  }
       
.cardGlow:hover,
.cardGlow:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--light), 0 0 15px var(--light);
}

.contact-link {
  text-decoration: underline;
  color: var(--dark);
}

